<!DOCTYPE html>
<html>
<head>
	<title>CUIDATEST</title>

</head>
<body>
	<div>
		<a href="{% url 'home' %}">Home</a><br>
		{% if user.is_authenticated %}
			<p>HOLA {{user.username}}</p>
			<a href="{% url 'logout' %}">SALIR</a><br>
		{% else %}
			<a href="{% url 'login' %}">Login</a><br>
			<a href="{% url 'users:registro' %}">Registrar</a><br>
		{% endif %}
		<a href="{% url 'Autotest:crear' %}">Solicitar Examen Hisopado</a><br>
		
	</div>
	<div  style="margin-top: 20px">
		
			{% block contenido %}
				<h1>SOY EL BASEEEEEEEEEEEEEEEEEEEEEEEEEEEE!!!</h1>
			{% endblock %}

	</div>
</body>
</html>