{% load static %}
<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

    <!-- Tempus Dominus Bootstrap 4 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>
		<!--<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css" rel="stylesheet"/>
		-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<link rel="stylesheet" href='{% static "css/index.css" %}'>
		<title>CUIDATEST</title>
	</head>
<body>
	<header class="header fixed-top">
		<div class="container-lg">
			<nav class="navbar navbar-expand-lg navbar-dark">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<a class="navbar-brand" href="{% url 'home' %}">
					<img src="{% static 'images/logo.png' %}" width="180" height="65" alt="">
				</a>
			  
					{% if user.is_authenticated %} 
						{% if not user.is_staff and not user.is_superuser %} <!---verifica si el usuario es normal--->
							<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				 			 <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
								<li class="nav-item mx-2">
								  <a class="nav-link" href="{% url 'home' %}">Home</a>
								</li>
								<li class="nav-item">
						 			 <a class="nav-link" href="https://app.powerbi.com/view?r=eyJrIjoiMzk1ZDRlNjktZGJjYi00ZjYyLWE1ZDktODlkYTk1ODY4ZDZhIiwidCI6IjM1MDU2NzIxLWI5MjQtNDNiMC1iZTRkLWUxZjIzYWU1YjRlYiJ9&pageName=ReportSectionf42ecf9876c66b003004">Mapa Covid-19 <span class="sr-only">(current)</span></a>
								</li>
								<li class="nav-item">
						 			 <a class="nav-link" href="{% url 'informe:informe' %}">Informes <span class="sr-only">(current)</span></a>
								</li>
								

								<li class="nav-item mr-auto">
									<div class="dropdown">
										<a class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}
											<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  												<path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
  												<path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
  												<path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
											</svg>
										</a>
										<div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
											<a class="dropdown-item" href="{% url 'Autotest:pendiente' %}">
												<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  													<path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
  													<path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3zM8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
												</svg>
								                    Solicitar examen covid-19 </a>
											<a class="dropdown-item" href="{% url 'Autotest:listarSolicitudes' %}">
												<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  													<path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
  													<path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
												</svg>
											        Estado de Solicitud</a>
											<a class="dropdown-item" href="{% url 'logout' %}">
												<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-power" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  												<path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"/>
  												<path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"/>
												</svg>
											        Salir </a>
										</div>
									</div>
								</li>
						{% endif %}
						{% if user.is_staff and not user.is_superuser %} <!---verifica si el usuario es solo de staff--->
								<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				 			 <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
				 			 	
								<li class="nav-item">
								  <a class="nav-link" href="{% url 'home' %}">Home</a>
								</li>
								<li class="nav-item">
						 			 <a class="nav-link" href="https://app.powerbi.com/view?r=eyJrIjoiMzk1ZDRlNjktZGJjYi00ZjYyLWE1ZDktODlkYTk1ODY4ZDZhIiwidCI6IjM1MDU2NzIxLWI5MjQtNDNiMC1iZTRkLWUxZjIzYWU1YjRlYiJ9&pageName=ReportSectionf42ecf9876c66b003004">Mapa Covid-19 <span class="sr-only">(current)</span></a>
								</li>
								<li class="nav-item">
						 			 <a class="nav-link" href="{% url 'informe:informe' %}">Informes <span class="sr-only">(current)</span></a>
								</li>
								
								<li class="nav-item mr-auto">
									<div class="dropdown">
										<a class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}}
											<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  												<path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
  												<path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
  												<path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
											</svg> </a></a>
										<div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
											<a class="dropdown-item" href="{% url 'Autotest:resultados' %}">
												<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cloud-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  													<path fill-rule="evenodd" d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
  													<path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z"/>
												</svg>
													Cargar Resultados</a>
											<a class="dropdown-item" href="{% url 'logout' %}">
												<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-power" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  													<path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"/>
  													<path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"/>
												</svg>
													Salir </a>
										</div>
									</div>
								</li>
						{% endif %}
						{% if user.is_superuser %} <!---verifica si el usuario es super--->
							<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				 			 <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
				 			 	
								<li class="nav-item">
								  <a class="nav-link" href="{% url 'home' %}" style="font-size: 20px;">Home</a>
								</li>
								<li class="nav-item">
						 			 <a class="nav-link" href="https://app.powerbi.com/view?r=eyJrIjoiMzk1ZDRlNjktZGJjYi00ZjYyLWE1ZDktODlkYTk1ODY4ZDZhIiwidCI6IjM1MDU2NzIxLWI5MjQtNDNiMC1iZTRkLWUxZjIzYWU1YjRlYiJ9&pageName=ReportSectionf42ecf9876c66b003004" style="font-size: 20px;">Mapa Covid-19 <span class="sr-only">(current)</span></a>
								</li>
								<li class="nav-item">
						 			 <a class="nav-link" href="{% url 'informe:informe' %}" style="font-size: 20px;">Informes <span class="sr-only">(current)</span></a>
								</li>
								
								<li class="nav-item mr-auto">
									<div class="dropdown">
										<a class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 20px;">{{user.username}}
											<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  												<path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
  												<path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
  												<path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
											</svg></a>
										<div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
											<a class="dropdown-item" href="{% url 'Autotest:pendiente' %}">
												<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  													<path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
  													<path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3zM8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
												</svg> 
													Solicitar Hisopado</a>
											<a class="dropdown-item" href="{% url 'Autotest:listarSolicitudes' %}">
												<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  													<path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
  													<path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
												</svg>
													Estado de Solicitud</a>
											<a class="dropdown-item" href="{% url 'Autotest:resultados' %}">
												<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cloud-arrow-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  													<path fill-rule="evenodd" d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
  													<path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z"/>
												</svg>
													Cargar Resultado</a>
											<a class="dropdown-item" href="{% url 'logout' %}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-power" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  												<path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"/>
  												<path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"/>
												</svg>
											        Salir </a>
										</div>
									</div>
								</li>
						{% endif %}

					
					

					{% else %}
						<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
					  		<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
								<li class="nav-item">
						 			 <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
								</li>
								<li class="nav-item">
						 			 <a class="nav-link" href="https://app.powerbi.com/view?r=eyJrIjoiMzk1ZDRlNjktZGJjYi00ZjYyLWE1ZDktODlkYTk1ODY4ZDZhIiwidCI6IjM1MDU2NzIxLWI5MjQtNDNiMC1iZTRkLWUxZjIzYWU1YjRlYiJ9&pageName=ReportSectionf42ecf9876c66b003004">Mapa Covid-19 <span class="sr-only">(current)</span></a>
								</li>
								<li class="nav-item">
						 			 <a class="nav-link" href="{% url 'informe:informe' %}">Informes <span class="sr-only">(current)</span></a>
								</li>
								<li class="nav-item">
									<a class="nav-link"href="{% url 'login' %}">Ingresar</a>
								</li>
								<li class="nav-item">
									<a class="nav-link"href="{% url 'users:registro' %}">Registrarse</a>
								</li>
							</ul>
						</div>
					{% endif %}

				  </ul>
				</div>
			  </nav>
			</div>
	</header>
	
	
	{% block contenido %}

	{% endblock %}

	<div class="col-lg-12 p-0">
		<img class="w-100" src="{% static 'images/footer-chaco.png' %}"  height="100%" alt="">
	</div>
	<footer class="footer" id="footer">
		<div class="container-lg container-sm">
			<div class="row">
				<nav class="navbar navbar-expand-lg navbar-dark w-100 justify-content-around">
					<div class="col-lg-4 col-sm-12 text-white text-center mx-3">
						<p>Reportes: 0800 444 0829</p>
						<p>Emergencias: 107 </p>
						<p>Emergencias: 1162730000</p>
					</div>
					<div class="col-lg-4 col-sm-12 d-flex justify-content-around mx-3">
						<img  src="{% static 'images/info-logo.png' %}" height="150" width="150" alt="">						
					</div>
					<div class="col-lg-4 col-sm-12 text-white text-center mx-3">
						<p >Argentina, Chaco </p>
						<p >INFORMATORIO edición 2020 </p>
						<p >Grupo-6</p>
					</div>
					
				</nav>
			</div>
		</div>
	</footer>
	

<!--<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
-->
</body>

</html>