{% load static %}
<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

    <!-- Tempus Dominus Bootstrap 4 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>
		<!--<link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css" rel="stylesheet"/>
		-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<link rel="stylesheet" href='{% static "css/index.css" %}'>
		<title>CUIDATEST</title>
	</head>
<body>
	<header class="header fixed-top">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-dark">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<a class="navbar-brand" href="#footer">LOGO</a>
			  
					{% if user.is_authenticated %}
						<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
				 			 <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
								<li class="nav-item">
								  <a class="nav-link" href="{% url 'home' %}">Home</a>
								</li>
								<li class="nav-item">
								  <a class="nav-link" href="{% url 'Autotest:crear' %}">Solicitar Examen Hisopado </a>
								</li>
								<li class="nav-item ml-auto">
									<div class="dropdown">
										<a class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}}</a></a>
										<div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
											<a class="dropdown-item" href="#">Estado de Solicitud</a>
											<a class="dropdown-item" href="{% url 'logout' %}">Salir </a>
										</div>
									</div>
								</li>
					{% else %}
						<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
					  		<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
								<li class="nav-item">
						 			 <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
								</li>
								<li class="nav-item">
									<a class="nav-link"href="{% url 'login' %}">Ingresar</a>
								</li>
								<li class="nav-item">
									<a class="nav-link"href="{% url 'users:registro' %}">Registrar</a>
								</li>


					{% endif %}




		
				  </ul>
				</div>
			  </nav>
			</div>
	</header>
	
	<div class="main h-100">
		{% block contenido %}

		{% endblock %}
	</div>
	
	<footer class="footer" id="footer">
		<div class="container-lg container-sm">
			<div class="row">
				<nav class="navbar navbar-expand-lg navbar-dark w-100 justify-content-end align-items-baseline">
					<div class="col-lg-4 col-sm-12 text-white text-center">
						<p>Reportes: 0800 444 0829</p>
						<p>Emergencias: 107 </p>
						<p>Emergencias: 1162730000</p>
					</div>
					<div class="col-lg-4  col-sm-12 text-white text-center">
						<p class="developedBy">Desarrollado por Grupo6.Inc</p>
					</div>
					<div class="col-lg-4   col-sm-12  text-center" >
						<a href="" class="link-item text-white">Contactenos</a>
					</div>
					
				</nav>
			</div>
		</div>
	</footer>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
-->
</body>

</html>