{% extends 'base.html' %}

{% block contenido %}
	<section class=carousel">
		<div id="carousel" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="../static/images/WhatsApp Image 2020-08-31 at 16.25.27.jpeg" class="d-block w-100" alt="...">
					<div class="carousel-caption d-none d-md-block">
					{% if user.is_authenticated %}
					<button type="button" class="btn btn-primary" onclick="location.href='{% url 'Autotest:crear' %}'">SOLICITAR HISOPADO</button>
					{% else %}
					<button type="button" class="btn btn-primary" onclick="location.href='{% url 'login' %}'">INGRESAR</button>
					
					{% endif %}

				</div>
			</div>
		</div>
	</section>
	
	<section class="casos">
		<div class="container-lg">
			<h3 class="font-weight-normal">Seguimiento de casos.</h3>
			<div class="row justify-content-center">
				<div class="col-lg-3 mx-2">
					<div class="card text-center mb-5" style="width: 18rem;">
						<div class="card-body">
						  <h5 class="card-title">Casos en Resistencia</h5>
						  <p class="card-text">Positivos: </p>
						  <p class="card-text">Recuperados: </p>
						  <p class="card-text">Fallecidos: </p>
						</div>
					  </div>
				</div>
				<div class="col-lg-3 mx-2">
					<div class="card text-center mb-5" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">Casos en Chaco</h5>
							<p class="card-text">Positivos: </p>
							<p class="card-text">Recuperados: </p>
							<p class="card-text">Fallecidos: </p>
						  </div>
					  </div>
				</div>
				<div class="col-lg-3 mx-2">
					<div class="card text-center mb-5" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">Casos en el mundo</h5>
							<p class="card-text">Positivos: </p>
							<p class="card-text">Recuperados: </p>
							<p class="card-text">Fallecidos: </p>
						  </div>
					  </div>
				</div>
				
			</div>
		</div>
	</section>	
	<section class="solicitud mb-5">
		<div class=container-lg>
			<h2 class="font-weight-normal">Que hacer si presento sintomas</h2>
			<div class="row">
				<div class="col-lg-12 justify-content-center">
					<div class="card text-center">
						<div class="card-body">
						  <h5 class="card-title">Solicitar un hisopado</h5>
						  <p class="card-text">Si Ud. presenta algun sintoma de Covid-19 podra solicitar un Hisopado aqui</p>
						  {% if user.is_authenticated %}
						  <a href="{% url 'Autotest:crear' %}" class="btn btn-primary">Solicitar Hisopado</a>
						  {% else %}
						  <a href="{% url 'login' %}" class="btn btn-primary">Solicitar Hisopado</a>
						  {% endif %}
						</div>
					  </div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}