{% extends 'base.html' %}

{% block contenido %}
	<section class=carousel">
		<div id="carousel" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="../static/images/WhatsApp Image 2020-08-31 at 16.25.27.jpeg" class="d-block w-100" alt="...">
					<div class="carousel-caption d-none d-md-block">
					{% if user.is_authenticated %}
					<button type="button" class="btn btn-primary" onclick="location.href='{% url 'Autotest:crear' %}'">SOLICITAR HISOPADO</button>
					{% else %}
					<button type="button" class="btn btn-primary" onclick="location.href='{% url 'login' %}'">INGRESAR</button>
					
					{% endif %}

				</div>
			</div>
		</div>
	</section>

	

	<section class="casos">
		<div class="container-lg container-sm-4">
			<blockquote class="blockquote">
  				<h3 class="font-weight-normal">NÚMEROS DE CASOS ACTUALIZADOS</h3>
  				<footer class="blockquote-footer">según datos del Ministerio de Salud</footer>
			</blockquote>
			<div class="row justify-content-center">
				<div class="col-lg-3 mx-4">
					<div class="card text-center mb-5" style="width: 18rem;">
						<div class="card-body">
						  <h5 class="card-title">Casos en Resistencia</h5>
						  <p class="card-text">Positivos: 6784</p>
						  <p class="card-text">Recuperados: 6125 </p>
						  <p class="card-text">Fallecidos: 278</p>
						</div>
					  </div>
				</div>
				<div class="col-lg-3 mx-4">
					<div class="card text-center mb-5" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">Casos en Argentina</h5>
							<p class="card-text">Positivos: 685987</p>
							<p class="card-text">Recuperados:547366 </p>
							<p class="card-text">Fallecidos: 6874</p>
						  </div>
					  </div>
				</div>
			</div>
			<a href="https://app.powerbi.com/view?r=eyJrIjoiMzk1ZDRlNjktZGJjYi00ZjYyLWE1ZDktODlkYTk1ODY4ZDZhIiwidCI6IjM1MDU2NzIxLWI5MjQtNDNiMC1iZTRkLWUxZjIzYWU1YjRlYiJ9&pageName=ReportSectionf42ecf9876c66b003004" class="link-item">
				<b>Mapa de calor COVID-19</b>
			</a>
		</div>
	</section>	


	<section id="faq">
		<div class="container-lg">
		  <header class="section-header">
			<h3 class="font-weight-normal">PREGUNTAS FRECUENTES</h3>
		  </header>
  
		  <ul id="faq-list" class="wow fadeInUp col-lg-12">
			  
			  <button type='button' class='btn col-lg-12 border rounded'>
			  <a data-toggle="collapse" href="#faq1" class="collapsed text-dark text-decoration-none font-weight-bold font-italic">¿Qué es un coronavirus? ¿Qué es el SARS-CoV2? ¿Qué es COVID-19?
				<i class="ion-android-remove"></i> </button></a>
			  <div id="faq1" class="collapse" data-parent="#faq-list">
				<p>
				  Los coronavirus son una familia de virus que pueden causar enfermedades en animales y en humanos. En los seres humanos pueden provocar infecciones respiratorias que van desde un resfrío común hasta enfermedades más graves, como el síndrome respiratorio de Medio Oriente (MERS) y el síndrome respiratorio agudo severo (SRAS-SARS).
				  Actualmente nos encontramos ante una pandemia (epidemia que se propaga a escala mundial) por un nuevo coronavirus, SARS-CoV-2, que fue descubierto recientemente y causa la enfermedad por coronavirus COVID-19.
				</p>
			  </div><br>

			<br>  
			
			  <button type='button' class='btn col-lg-12 border rounded'>
			  <a data-toggle="collapse" href="#faq2" class="collapsed text-dark text-decoration-none font-weight-bold font-italic">¿Cómo se transmite el virus?
				<i class="ion-android-remove"></i> </button></a>
			  <div id="faq2" class="collapse" data-parent="#faq-list">
				<p>
				  Se transmite de una persona a otra a través de las gotas procedentes de la nariz o la boca que salen despedidas cuando la persona con el virus tose, estornuda o habla. Otra posibilidad es por contacto con manos, superficies u objetos contaminados. Por eso es importante mantener distanciamiento social y tomar las precauciones de contacto que se describen más abajo.
				</p>
			  </div><br>

			<br>
  
			
			  <button type='button' class='btn  col-lg-12 border rounded'>
			  <a data-toggle="collapse" href="#faq3" class="collapsed text-dark text-decoration-none font-weight-bold font-italic">¿Cuáles son los síntomas del Covid 19?<i class="ion-android-remove"></i> </button></a>
			  <div id="faq3" class="collapse" data-parent="#faq-list">
				<p>
				  Si tenés dos o más de los siguientes síntomas: fiebre de 37,5°C, tos, dolor de garganta, dificultad respiratoria, dolor muscular, cefalea, diarrea y/o vómitos, o si tenés solo pérdida brusca de gusto u olfato, consultá al sistema de salud de tu localidad.
				</p>
			  </div><br>

			<br>
  
			
			  <button type='button' class='btn col-lg-12 border rounded'>
			  <a data-toggle="collapse" href="#faq4" class="collapsed text-dark text-decoration-none font-weight-bold font-italic">¿Qué puedo hacer para prevenir el COVID-19?<i class="ion-android-remove"></i> </button></a>
			  <div id="faq4" class="collapse" data-parent="#faq-list">
				<p>
				  Para disminuir el riesgo de contraer COVID-19 te sugerimos:<br>

					-Distanciamiento social: evitá reuniones, eventos y salir de casa en general, excepto para actividades absolutamente esenciales.<br>
					-Mantené la higiene de las manos lavandolas regularmente con agua y jabón o colocando alcohol en gel.<br>
					-Limpiá periódicamente las superficies y los objetos que usás todos los días.<br>
					-Ventilá todos los ambientes de tu casa y de los espacios de trabajo.<br>
					-Usá tapaboca o barbijo casero si tenés que salir de tu casa.<br>
					-Evitar tocarse la nariz,los ojos y la boca.<br> </p>
				</div><br>
  			<br>
			
			
			  <button type='button' class='btn col-lg-12 border rounded'>
			  <a data-toggle="collapse" href="#faq5" class="collapsed text-dark text-decoration-none font-weight-bold font-italic">¿Qué debo hacer si entro en contacto estrecho con una persona con COVID-19?<i class="ion-android-remove"></i> </button></a>
			  <div id="faq5" class="collapse" data-parent="#faq-list">
				<p>
					Si sos identificado como contacto de una persona con infección confirmada por COVID-19, debés reforzar tu aislamiento durante 14 días contados desde el último contacto con el caso confirmado de COVID-19, controlar tu salud e informar cualquier síntoma. Si vivís con otras personas, a su vez, debés cumplir estrictamente el aislamiento dentro de tu domicilio y no tener contacto estrecho con ningún conviviente, sobre todo si la persona es mayor de 60 años o si forma parte de un grupo de riesgo.</p>
			   </div> <br>
			   <br>

  			  <button type='button' class='btn  col-lg-12 border rounded'>
			  <a data-toggle="collapse" href="#faq6" class="collapsed text-dark text-decoration-none font-weight-bold font-italic">¿Dónde puedo consultar información actualizada y veraz sobre COVID-19?<i class="ion-android-remove"></i> </button></a>
			   <div id="faq6" class="collapse" data-parent="#faq-list">
			   	 <p>
			   	 	En la era de las comunicaciones, la desinformación es moneda corriente y peligrosa. Eventos como la pandemia por COVID-19 nos pone en la necesidad de obtener información al instante, por tal motivo es frecuente la difusión de contenidos falsos o erróneos.

					Para evitar confusiones, debés buscar información en sitios cuentas de redes sociales que permitan comprobar su veracidad, como los del Ministerio de Salud de la República Argentina, de la Organización Mundial de la Salud o de la Organización Panamericana de la Salud.

					Desconfiá de —y no difundas— rumores, mensajes y audios de Whatsapp provenientes de supuestas autoridades en la materia que difundan información que no pueda ser verificada.

					La plataforma CONFIAR es un espacio para despejar dudas en torno a las múltiples fuentes de desinformación que rodean al coronavirus. Allí se hace un seguimiento y verificación de la información que circula, y se brindan herramientas y criterios para diferenciar la calidad y veracidad de las noticias.
			  	 </p>
			  </div>
			
			
		  </ul>
  
		</div>
	  </section>
	
	
{% endblock %}