body {
    background-color: #F0FFFF;
}

.header{
    background-color: #0F4C75;
}
 
.carousel img{
    height: 450px !important;
    object-fit: cover;
}
.texto-carousel{

    margin:  150px 0 0 0 ;
}
.footer{

    background-color: #1B262C;
}
.developedBy{
    padding: 20px 0px;
}
.font-weight-normal{
    padding: 40px;
}
.testeo{
	margin-top: 100px;
    
}
.logueo{
	margin-top: 100px;
    
}
}