{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}
<section class="login mh-100 my-5 py-5">
	<div class="container-lg">
		<div class="form-row justify-content-center">
			<div class="form-group border rounded bg-light p-3 mt-5">
				<div class="col-lg-4 mx-auto">
					<img src="{% static 'images/user.svg' %}" width="50" height="50" alt="">
				</div>
				<h2 class="text-center my-3">Ingresar</h2>
				{{ form.errors }}
				<form method="POST">{% csrf_token %}
					<div class="col-12">
						{{ form.username|as_crispy_field }}
					</div>
					<div class="col-12 form-group">
						{{ form.password|as_crispy_field }}
					</div>
					<p>Si no tenés una cuenta <a class="link-item" href="{% url 'users:registro' %}">Registrate</a></p>
					<p>¿olvidaste la contraseña? <a class="link-item" href="{% url 'reset_password' %}">Recuperala aquí</a></p>
					<div class="col-6 m-auto">
						<button class="btn btn-primary" type="submit" value="Ingresar" name="">Ingresar</button>
					</div>
				

				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}