{% extends 'base.html' %}

{% block contenido %}

		<div class='container'>  

			<div class='row min-vh-100' > 

				<div class='col-lg-12 my-5 py-5'>
					
					<h1> Total de Personas que reporto sintomas de: </h1>

					<h2>      Tos seca: {{ tosSeca }} Personas</h2>

					<h2>      Fiebre: {{ fiebre }} Personas</h1>

					<h2>      Dolor de Garganta: {{ dolordeGarganta }} Personas</h2>

					<h2>      Dolor y/o malestar corporal: {{ dolorCorporal }} Personas </h1>

				</div>

				

			</div>

		</div>
		
			




			
			

{% endblock %}