{% extends 'base.html' %} 

{% block contenido %}
  <div class="container-lg py-5 my-5">
    <div class="row">
      <div class="col-lg-12 my-6 py-5">
        <h3 class="text-justify">Lista de Solicitudes</h3>
        <a class="btn btn-outline-secondary ml-2 my-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Filtrar
          <svg width="1.4em" height="1.4em" viewBox="0 0 16 16" class="bi bi-filter-left align-self-baseline" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </a>
        <div class="collapse pl-2 mb-2 col-lg-12 col-sm-12" id="collapseExample">

          <form class="filtroId form-row input-group mb-3 mr-0 col-lg-3 col-sm-12" method="GET">
            <input type="text" class=" form-control" name="filtro1" placeholder="Filtrar por id" aria-label="Recipient's username" aria-describedby="button-addon1">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Filtrar</button>
            </div>
          </form>
          <form class="filtroDni form-row input-group mb-3 mr-0 col-lg-3 col-sm-12" method="GET">
            <input type="text" class="form-control" name="filtro2" placeholder="Filtrar por Dni" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Filtrar</button>
            </div>
          </form>
          <form class="filrtoEstado form-row input-group mb-3 col-lg-3 mr-0 col-sm-12 " method="GET">
            <select class="form-control" name="filtro3" id="">
              <option value="" selected>Filtrar por estado</option>
              <option value="1">Pendiente</option>
              <option value="2">Con turno asignado</option>
              <option value="3">Realizados</option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Filtrar</button>
            </div>
          </form>
        </div>
        <!--FIN FILTRO-->
        <div id="accordion">
            {% if dni %}
              {%if solicitudes != None %}
                {% for p in solicitudes %}
                    <div class="card my-4">
                      <div class="card-header bg-light" id="heading_{{p.id}}">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_{{p.id}}"  aria-expanded="false" aria-controls="collapse_{{p.id}}">
                            Solicitud de: {{p.usuario}} |  Fecha de creacion: {{p.fecha_creacion}}
                            </button>
                        </h5>
                      </div>
                      <div
                      id="collapse_{{p.id}}"
                      class="collapse"
                      aria-labelledby="heading_{{p.id}}"
                      data-parent="#accordion"
                      >
                        <div class="card-body">
                          <h4 class="text">Numero solicitud: {{p.id}}</h4>
                          <h6 class="text"><b>Usuario:</b> {{p.usuario}}</h6>
                          <h6 class="text"><b>Dni:</b> {{p.usuario.dni}}</h6>
                          <h6 class="text"><b>Domicilio</b> {{p.usuario.domicilio}}</h6>
                            {% if p.estado == 1 %}
                              {% if p.fecha_hisopado and p.resultado == None %}
                                <h6 class="text"><b>Estado:</b>Fecha de hisopado asignado</h6>
                                <h6 class="text"><b>Fecha de hisopado:</b>{{p.fecha_hisopado}}</h6>
                              {% else %}
                                <h6 class="text"><b>Estado:</b>En espera de asignacion de turno</h6>
                                <h6 class="text"><b>Fecha de hisopado:</b>En espera de asignacion de fecha</h6>
                              {% endif %}
                            {% elif p.estado == 2%}
                              <h6 class="text"><b>Estado:</b>Fecha de hisopado asignado</h6>
                              <h6 class="text"><b>Fecha de hisopado:</b>{{p.fecha_hisopado}}</h6>
                              <h6 class="text"><b>Resultado:</b>En espera..</h6>
                            {% else %}
                              <h6 class="text"><b>Estado:</b>Realizado</h6>
                              <h6 class="text"><b>Fecha de hisopado:</b>{{p.fecha_hisopado}}</h6>
                              {% if p.resultado == True %}
                                <h6 class="text"><b>Resultado:</b>Positivo COVID-19</h6>
                              {% elif  p.resultado == False%}
                                <h6 class="text"><b>Resultado:</b>Negativo COVID-19</h6>
                              {% endif %}
                            {% endif %} 
                            <button type="button" class="btn btn-primary" onclick="location.href='{% url 'Autotest:modificar' p.id %}'">Cargar Resultado </button>
                      </div>
                      </div>
                    </div>
                {% endfor %}
              {%else%}
                <h3 class="text-danger">La solicitud o usuario no existe</h3>
              {%endif%}
            {% else %}
              {% for p in solicitudes %} 
                <div class="card my-4">
                    <div class="card-header bg-light" id="heading_{{p.id}}">
                      <h5 class="mb-0">
                          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_{{p.id}}"  aria-expanded="false" aria-controls="collapse_{{p.id}}">
                          Solicitud de: {{p.usuario}} |  Fecha de creacion: {{p.fecha_creacion}}
                          </button>
                      </h5>
                    </div>
                    <div
                    id="collapse_{{p.id}}"
                    class="collapse"
                    aria-labelledby="heading_{{p.id}}"
                    data-parent="#accordion"
                    >
                      <div class="card-body">
                        <h4 class="text">Numero solicitud: {{p.id}}</h4>
                        <h6 class="text"><b>Usuario:</b> {{p.usuario}}</h6>
                        <h6 class="text"><b>Dni:</b> {{p.usuario.dni}}</h6>
                        <h6 class="text"><b>Domicilio</b> {{p.usuario.domicilio}}</h6>
                          {% if p.estado == 1 %}
                            {% if p.fecha_hisopado %}
                              <h6 class="text"><b>Estado:</b>Hisopado asignado</h6>
                              <h6 class="text"><b>Fecha de hisopado:</b>{{p.fecha_hisopado}}</h6>
                            {% else %}
                              <h6 class="text"><b>Estado:</b>En espera de asignacion de turno</h6>
                              <h6 class="text"><b>Fecha de hisopado:</b>En espera de asignacion de fecha</h6>
                            {% endif %}
                          {% elif p.estado == 2 %}
                            <h6 class="text"><b>Estado:</b>Fecha de hisopado asignado</h6>
                            <h6 class="text"><b>Fecha de hisopado:</b>{{p.fecha_hisopado}}</h6>
                            <h6 class="text"><b>Resultado:</b>En espera..</h6>
                          {% else %}
                            <h6 class="text"><b>Estado:</b>Realizado</h6>
                            <h6 class="text"><b>Fecha de hisopado:</b>{{p.fecha_hisopado}}</h6>
                            {% if p.resultado %}
                              <h6 class="text"><b>Resultado:</b>Positivo COVID-19</h6>
                            {% else %}
                              <h6 class="text"><b>Resultado:</b>Negativo COVID-19</h6>
                            {% endif %}
                          {% endif %} 
                          <button type="button" class="btn btn-primary" onclick="location.href='{% url 'Autotest:modificar' p.id %}'">Cargar Resultado </button>
                    </div>
                    </div>
                </div>
              {% endfor %}
            {%endif%}

      
        </div>
      </div>
    </div>
  </div>
{% endblock %}