{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load crispy_forms_field %}



{% block contenido %}
	<section class="autotest">
		<div class="container-lg">
			<div class="form-row py-5 my-5">
				<h1>Form Autotest</h1>
				{{form.errors}}
				<form class="form-group my-5 py-5" method="POST">{% csrf_token %}
					<div class="col-12 mh-1">
						{{ form|crispy }}
					</div>
					<div class="col-12">
						<button class="btn btn-primary" type="submit" value="Ingresar" name="">Ingresar</button>
					</div>
				</form>
			</div>
		</div>
	</section>			
{% endblock %}


