{% extends 'base.html' %}

{% block contenido %}
    <div class="container-lg min-vh-100 mt-5 "> 
        <div class="row m-auto">
            <div class="col-lg-12 align-self-center p-5 my-5 mx-auto"></div>
                <div class="col-lg-12 alert alert-success" role="alert">
                    <h4 class="alert-heading text-center">Usted no posee ninguna solicitud registrada.</h4>
                    <hr>
                </div>
            </div>
        </div>   
    </div>



{% endblock %}